[submodule "qbs"]
	path = src/shared/qbs
	url = https://git.gitorious.org/qt-labs/qbs.git
	ignore = dirty
[submodule "src/plugins/omniacreator"]
	path = src/plugins/omniacreator
	url = https://github.com/omniacreator/omniacreator-plugin.git
[submodule "share/qtcreator/cmake-board-types/arduino-cmake"]
	path = share/qtcreator/cmake-board-types/arduino-cmake
	url = git://github.com/queezythegreat/arduino-cmake.git
[submodule "share/qtcreator/cmake-board-types/propeller-cmake"]
	path = share/qtcreator/cmake-board-types/propeller-cmake
	url = https://github.com/omniacreator/propeller-cmake.git
